<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000</title>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="style.css") }}>
</head>
<body>
<h1>Super Sprinter 3000</h1>
<a href="/story">Add new user story</a>
<table>
    <thead>
    <tr>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for story in user_stories %}
    <tr>
        {% for key in story.keys() %}
            {% if key == "id" %}
            <td><a href="/story/id">{{ story[key] }}</a> </td>
            {% else %}
        <td>{{ story[key] }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>